<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ConnectionString" value="Data Source=belatrix.cybh1oemv1wl.us-west-2.rds.amazonaws.com;Initial Catalog=belatrix;User Id=superuser;Password=superuse;"/>
        <add key="LogFileDirectory" value="C:\Users\NicolasNieves\source\repos\Log\Log\bin\Debug\netcoreapp2.1\"/>
    </appSettings>
</configuration>